.lawyer-container {
    margin-bottom: 20px;
}

.lawyer-info {
    display: flex;
    align-items: center;
}

.lawyer-info img {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
}

.lawyer-info div {
    font-size: 14px;
}
